!.keep
*.gem
*.lock
*.log
*.swp
*~
*.rdb
.*byebug*
.bundle/
.env
.irb_history
.irbrc
.ruby-version
dump.rdb
.trusted_paths/
.yardoc/
/app/
builds/
config/
coverage/
doc/
ext/oboe_metal/*.o
ext/oboe_metal/Makefile
ext/oboe_metal/lib/liboboe*so*
ext/oboe_metal/mkmf.log
ext/oboe_metal/oboe_metal.so
ext/oboe_metal/oboe_noop.so
ext/oboe_metal/src/bson/
ext/oboe_metal/src/oboe_api.cpp
ext/oboe_metal/src/oboe.h
ext/oboe_metal/src/oboe_api.h
ext/oboe_metal/src/oboe_debug.h
ext/oboe_metal/src/oboe_swig_wrap.cc
ext/oboe_metal/src/VERSION_latest
ext/oboe_metal/test/build/
ext/oboe_metal/test/MakeFile
ext/oboe_metal/.DS_Store
gemfiles/*.lock
gemfiles/.bundle/
gemfiles/vendor*
lib/libsolarwinds_apm.so
vendor/

# test & test script
tmp.rb
apm.collector.st-ssp.solarwinds.com
test/run_tests/.ruby_version_ubuntu
test/run_tests/.ruby_version_alpine
test/run_tests/.ruby_version_centos
test/run_tests/.ruby_version_ubuntu

redis-test.*

# compiling
ext/oboe_metal/verify

# mac DS_Store
.DS_Store
