oboe*.gem
*.lock
gemfiles/*.lock
.ruby-version
*~
*.swp
.env
lib/oboe_metal.so
ext/oboe_metal/Makefile
ext/oboe_metal/mkmf.log
ext/oboe_metal/oboe_metal.so
ext/oboe_metal/oboe_noop.so
ext/oboe_metal/*.o
ext/oboe_metal/lib/liboboe*so*
ext/oboe_metal/src/oboe.h
ext/oboe_metal/src/oboe.hpp
ext/oboe_metal/src/oboe_debug.h
ext/oboe_metal/src/oboe_wrap.cxx
ext/oboe_metal/src/bson/*
log/
.vagrant
gemfiles/.bundle
swig*
*.gem
.yardoc
coverage
doc
.*byebug*
gemfiles/vendor*
scrap.rb
scarp_gemfile
.irbrc
*.code-workspace
