*.code-workspace
*.gem
*.lock
*.swp
*.vscode
*~
.*byebug*
.bundle
.env
.github
.irb_history
.irbrc
.ruby-version
.travis
.vagrant
.yardoc
builds
coverage
config
doc
ext/oboe_metal/*.o
ext/oboe_metal/Makefile
ext/oboe_metal/lib/liboboe*so*
ext/oboe_metal/mkmf.log
ext/oboe_metal/oboe_metal.so
ext/oboe_metal/oboe_noop.so
ext/oboe_metal/src/bson/*
ext/oboe_metal/src/oboe.h
ext/oboe_metal/src/oboe.hpp
ext/oboe_metal/src/oboe_debug.h
ext/oboe_metal/src/oboe_wrap.cxx
gemfiles/vendor*
lib/rb_appoptics_apm.so
lib/oboe_metal.so
log
oboe*.gem
scrap*
swig*
