name: Verify Installation

on:
  workflow_dispatch:
    inputs:
      install-registry:
        required: true
        description: 'Registry used for install tests, e.g. RubyGem, packagecloud'
        type: choice
        default: 'RubyGem'
        options:
        - RubyGem
        - packagecloud

      solarwinds-version:
        required: true
        description: 'Solarwinds apm version'

jobs:

  verify_install_amd64_test:
    name: ruby - ${{ matrix.ruby_version }} - ${{ matrix.os }} amd64 - ${{ github.event.inputs.solarwinds-version }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, alpine]
        ruby_version: ['3.1.0', '2.7.5']
    steps:
      - uses: actions/checkout@v3

      - name: Log in to the Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - run: docker pull --platform linux/amd64 ghcr.io/${{ github.repository }}/apm_ruby_${{ matrix.os }}:latest
      
      - name: Run tests in container
        run: |
          sudo docker run \
            --platform linux/amd64 \
            -e SW_APM_SERVICE_KEY=${{ secrets.SW_APM_SERVICE_KEY_PROD }} \
            -e SW_APM_COLLECTOR=${{ secrets.SW_APM_COLLECTOR_PROD }} \
            -e SOLARWINDS_APM_VERSION=${{ github.event.inputs.solarwinds-version }} \
            -e PACKAGECLOUD_TOKEN=${{ secrets.PACKAGECLOUD_TOKEN }} \
            -e MODE=${{ github.event.inputs.install-registry }} \
            -e RUBY_VERSION=${{ matrix.ruby_version }} \
            -v $(pwd):/home \
            --rm ghcr.io/${{ github.repository }}/apm_ruby_${{ matrix.os }}:latest \
            ./home/.github/workflows/scripts/_helper_run_install_tests.sh


  verify_install_arm64_test:
    name: ruby - ${{ matrix.ruby_version }} - ${{ matrix.os }} arm64 - ${{ github.event.inputs.solarwinds-version }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, alpine]
        ruby_version: ['3.1.0', '2.7.5']

    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-qemu-action@v2

      - name: Log in to the Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - run: docker pull --platform linux/arm64 ghcr.io/${{ github.repository }}/apm_ruby_${{ matrix.os }}:latest
      
      - name: Run tests in container using QEMU
        run: |
          sudo docker run \
            --platform linux/arm64 \
            -e SW_APM_SERVICE_KEY=${{ secrets.SW_APM_SERVICE_KEY_PROD }} \
            -e SW_APM_COLLECTOR=${{ secrets.SW_APM_COLLECTOR_PROD }} \
            -e SOLARWINDS_APM_VERSION=${{ github.event.inputs.solarwinds-version }} \
            -e PACKAGECLOUD_TOKEN=${{ secrets.PACKAGECLOUD_TOKEN }} \
            -e MODE=${{ github.event.inputs.install-registry }} \
            -e RUBY_VERSION=${{ matrix.ruby_version }} \
            -v $(pwd):/home \
            --rm ghcr.io/${{ github.repository }}/apm_ruby_${{ matrix.os }}:latest \
            ./home/.github/workflows/scripts/_helper_run_install_tests.sh

  verify_install_ubi8_amd64_test:
    name: ruby - ${{ matrix.ruby_version }} - ubi8 amd64 - ${{ github.event.inputs.solarwinds-version }}
    runs-on: ubuntu-latest
    
    strategy:
      fail-fast: false
      matrix:
        ruby_version: [3.1.0, 2.7.5]

    steps:
      - uses: actions/checkout@v3
      - run: docker pull redhat/ubi8
      - name: Run tests in ubi8 container
        run: |
          sudo docker run \
            --platform linux/amd64 \
            -e RUBY_VERSION=${{ matrix.ruby_version }} \
            -e SW_APM_SERVICE_KEY=${{ secrets.SW_APM_SERVICE_KEY_PROD }} \
            -e SW_APM_COLLECTOR=${{ secrets.SW_APM_COLLECTOR_PROD }} \
            -e SOLARWINDS_APM_VERSION=${{ github.event.inputs.solarwinds-version }} \
            -e PACKAGECLOUD_TOKEN=${{ secrets.PACKAGECLOUD_TOKEN }} \
            -e MODE=${{ github.event.inputs.install-registry }} \
            -v $(pwd):/home \
            --rm redhat/ubi8 \
            ./home/.github/workflows/scripts/_helper_run_install_tests.sh

  verify_install_ubi8_arm64_test:
    name: ruby - ${{ matrix.ruby_version }} - ubi8 arm64 - ${{ github.event.inputs.solarwinds-version }}
    runs-on: ubuntu-latest
    
    strategy:
      fail-fast: false
      matrix:
        ruby_version: [3.1.0, 2.7.5]

    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-qemu-action@v2
      - run: docker pull --platform linux/arm64 redhat/ubi8
      - name: Run tests in ubi8 container using QEMU
        run: |
          sudo docker run \
            --platform linux/arm64 \
            -e RUBY_VERSION=${{ matrix.ruby_version }} \
            -e SW_APM_SERVICE_KEY=${{ secrets.SW_APM_SERVICE_KEY_PROD }} \
            -e SW_APM_COLLECTOR=${{ secrets.SW_APM_COLLECTOR_PROD }} \
            -e SOLARWINDS_APM_VERSION=${{ github.event.inputs.solarwinds-version }} \
            -e PACKAGECLOUD_TOKEN=${{ secrets.PACKAGECLOUD_TOKEN }} \
            -e MODE=${{ github.event.inputs.install-registry }} \
            -v $(pwd):/home \
            --rm redhat/ubi8 \
            ./home/.github/workflows/scripts/_helper_run_install_tests.sh

